$docus-header-height: 64px;
$color-gray-100: #97948f;
$color-blue: #007bff;
$color-white: #fff;
$text-lg-font-size: 16px;
$text-lg-line-height: 16px;
$color-gray-400: gray;
$color-gray-700: gray;
$color-gray-200: gray;
$space-4: 5px;
$space-6: 6px;
$elements-backdrop-filter: blur(2px);
$elements-backdrop-background: white;
$text-sm-font-size: 16px;
$text-sm-line-height: 16px;
$font-weight-semibold: bold;
$space-1: 1px;
$footer-border-color: #e0e0e0;
$color-gray-100: #97948f;
$color-toc-text-visible: #1ad6ff;
$border-color-gray: #e0e0e0;
$bg-color-white: #fffc;
